/*
Date: 06-02-2021
Developer By: Francisco Garcia - Republica Dominicana
Description: FRF CSS STYLES
License: N/A
*/

@import 'content/reset';
@import 'content/functions';
@import 'content/image';
@import 'content/headerfooter';
@import 'content/text';
@import 'content/button';
@import 'content/grid';
@import 'content/margin';
@import 'content/widthheight';