@import 'root';
/*------buttons------*/
.f-button-default{
    @include button;
}
.f-button-style-1{
    @include button;
    border-bottom-left-radius: $pixel-10;
    border-top-right-radius: $pixel-10;
}
.f-button-style-2{
    @include button;
    border-radius: 50px;
}
.f-button-style-3{
    @include button;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.f-button-style-4{
    @include button;
    border-bottom-right-radius: 10px;
}
.f-button-style-5{
    @include button;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.f-button-style-6{
    @include button;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.f-button-style-7{
    @include button;
    border-radius: $pixel-2;
    box-shadow: 0 7px #999;
}
.f-button-style-8{
    @include button;
    border-top-right-radius: 15px;
}
.f-button-style-9{
    @include button;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.f-button-style-10{
    @include button;
    border-radius: 5px;
}
.f-button-style-11{
    @include button;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.f-button-default:hover{
    background-color: #525252;
}
.f-button-default:active{
    background-color: #1F1F1F;
}
@for $i from 1 to 12 {
    .f-button-style-#{$i}:hover{
        background-color: #525252;
    }
    .f-button-style-#{$i}:active{
        background-color: #1F1F1F;
    }
}
.f-button-style-7:active{
    background-color: #1F1F1F;
    box-shadow: 0 4px #777;
    transform: translateY(4px);
  }
/*------buttons------*/
/* .wizzle-button{
    padding: 5px;
    border: transparent;
    cursor: pointer;
    background: #E7E7E7;
    border-radius: 2px;
    text-decoration: none;
    &:hover{
        background: linear-gradient(to top, #E9E4F0, #D3CCE3);
        
    }
    &-width-full{
        width: $porcent-full;
        @include buttonInputReset;
        cursor: pointer;
        &:hover{
            background: #CCCCCC;
            border: 1px solid $color-dark;
        }
    }
    &-width-medium{
        width: $porcent-half;
        @include buttonInputReset;
        cursor: pointer;
        &:hover{
            background: #CCCCCC;
            border: 1px solid $color-dark;
        }
    }

    &-width-small{
        width: $porcent-third;
        @include buttonInputReset;
        cursor: pointer;
        &:hover{
            background: #CCCCCC;
            border: 1px solid $color-dark;
        }
    }

    &-width-extrasmall{
        width: $porcent-extra;
        @include buttonInputReset;
        cursor: pointer;
        &:hover{
            background: #CCCCCC;
            border: 1px solid $color-dark;
        }
    }
} */