/*------forms------*/
.wizzle-form-default{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    height: auto;
}

.wizzle-form-default .wizzle-form-group{
    display: inline-grid;
    width: 100%;
    margin-bottom: 20px;
}
.wizzle-form-default .wizzle-form-group label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.wizzle-form-style-a{
    border: 1px solid black;
    height: auto;
}
.wizzle-form-style-a .wizzle-form-buton{
    display: flex;
}
.wizzle-form-style-a .wizzle-form-buton button{
    width: 50%;
    padding: 15px;
    border-radius: 0;
}
.wizzle-form-style-a .wizzle-form-content {
    padding: 15px;
}
.wizzle-form-style-a .wizzle-form-content input{
    border-top: 1px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.wizzle-form-style-a .wizzle-form-content .wizzle-form-group{
    display: inline-grid;
    width: 100%;
    margin-bottom: 20px;
}

.wizzle-form-style-b{
    border: 1px solid black;
    height: auto;
    padding: 20px;
}
.wizzle-form-style-b .wizzle-form-head{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.wizzle-form-style-b .wizzle-form-body .wizzle-form-group{
    display: inline-grid;
    width: 100%;
    margin-bottom: 20px;
}

.wizzle-form-style-b .wizzle-form-footer{
    display: flex;
}

.wizzle-form-style-b .wizzle-form-footer button{
    width: 50%;
    border-radius: 0;
    padding: 10px;
}

 
.wizzle-form-style-c{
    border: 1px solid black;
    height: auto;
    padding: 20px;
}
.wizzle-form-style-c .wizzle-form-head{
    text-align: center;
    padding-bottom: 3%;
    border-bottom: 1px solid black;
}

.wizzle-form-style-c .wizzle-form-head img{
    width: 150px;
    border-radius: 50%;
}
.wizzle-form-style-c .wizzle-form-body .wizzle-form-group{
    display: flex;
}
.wizzle-form-style-c .wizzle-form-body .wizzle-form-group label{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.wizzle-form-style-c  .wizzle-form-body .wizzle-form-group{
    display: inline-grid;
    width: auto;
    margin-bottom: 5px;
}
.wizzle-form-style-c  .wizzle-form-body .wizzle-form-group label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.wizzle-form-style-c .wizzle-form-footer button{
    width: 100%;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 2%;
}

.wizzle-form-group-center{
    justify-items: center;
}

.wizzle-form-bg-dark{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
    border: 3px solid #0F2027;
}

.wizzle-form-bg-darkblue{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: 3px solid #182848;
}

.wizzle-form-bg-red{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: 3px solid #93291E;
}

.wizzle-form-bg-blue{
    background: #396afc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: 3px solid #2948ff;
}

.wizzle-form-bg-purple{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: 3px solid #8E2DE2;
}

.wizzle-form-bg-orange{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border: 3px solid #F7971E;
}
    
.wizzle-form-bg-green{
    background: #1D976C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    border: 3px solid #1D976C;
}

.wizzle-form-bg-yellow{
    background-color: #fef661;
background-image: linear-gradient(45deg, #fef661 0%, #FFFB7D 100%);


    
    border: 3px solid #EDEA3B;
}

.wizzle-form-bg-brown{
    background-color: #7e5c43;
background-image: linear-gradient(45deg, #7e5c43 0%, #654420 100%);

border: 3px solid #7e5c43;
}