
@import 'root';

@mixin events {
    &-active{
        display: $block;
    }
    &-inactive{
        display: $none;
    }
    &-opacity-full{
        opacity: $op-1;
    }
    &-opacity-half{
        opacity: $op-0-50;
    }
    &-opacity-third{
        opacity: $op-0-25;
    }
    &-opacity-none{
        opacity: 0;
    }
}

@mixin headerfooter {
    &-auto{
        padding: $pixel-10;
        height: max-content;
    }
    @for $i from 50 through 400 {
        @if $i%50 == 0{
            &-#{$i}{
                padding: $pixel-10;
                height: #{$i}px;
            }
        }
    }
}

@mixin box-shadow($pixel,$color) {
    -webkit-box-shadow: $pixel $color;
    -moz-box-shadow: $pixel $color;
    box-shadow: $pixel $color;
}

@mixin button {
    padding: $pixel-5 $pixel-10;
    border: 2px solid transparent;
    cursor: pointer;
    background: $defualt-black;
    text-decoration: $none;
    color: $defualt-white;
}