/*------margin------*/
@import 'root';

.f-margin{
    &-reset{
        margin: 0;
    }
    @for $i from 1 through 10 {
        &-top-#{$i}{
            padding-top:percentage($i/100);
        }
        &-bottom-#{$i}{
            padding-top:percentage($i/100);
        }
        &-left-#{$i}{
            padding-top:percentage($i/100);
        }
        &-right-#{$i}{
            padding-top:percentage($i/100);
        }
    }
    &-center{
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
    }
}