/*------normalize document------*/
@import 'root';
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    outline: none;
}
input[type=number]{
    -webkit-appearance:textfield;
    -moz-appearance:   textfield;
    appearance:        textfield;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
textarea{
    resize: none;
    border: 1px solid $defualt-black;
}