//ALL VARIABLES
//PORCENT
$reset: 0;
$porcent-1: 1%;
$porcent-2: 2%;
$porcent-3: 3%;
$porcent-4: 4%;
$porcent-5: 5%;
$porcent-10: 10%;
$porcent-15: 15%;
$porcent-25: 25%;
$porcent-50: 50%;
$porcent-100: 100%;
//PIXELES
$pixel-2: 1px;
$pixel-2: 2px;
$pixel-3: 3px;
$pixel-4: 4px;
$pixel-5: 5px;
$pixel-10: 10px;
$pixel-12: 12px;
$pixel-14: 14px;
$pixel-15: 15px;
$pixel-16: 16px;
$pixel-18: 18px;
$pixel-20: 20px;
$pixel-25: 25px;
$pixel-30: 30px;
$pixel-50: 50px;
$pixel-100: 100px;
$pixel-150: 150px;
$pixel-200: 200px;
$pixel-250: 250px;
$pixel-300: 300px;
//TEXT-ALIGN
$text-align: left,right,center,justify;
//TEXT-WEIGHT
$weight-bold: bold;
//DISPLAYS
$none: none;
$block: block;
//OPCITY
$op-1: 1;
$op-0-50: 0.50;
$op-0-25: 0.25;
$op-0-15: 0.15;
$op-0: 0;
//COLOR AND BACKGROUND DEFAULT
$defualt-black: #333;
$defualt-white: #fff;