/*-------text-------*/
@import 'root';

.f-text{
    @each $text-align in $text-align{
        &-#{$text-align}{
            text-align: #{$text-align};
        }
    } 
    &-weight-bold{
        font-weight: $weight-bold;  
    }
@for $i from 1 through 50 {
    &-size-#{$i} {
        font-size: #{$i}px;
    }
}
}