/*-------width and height-------*/
@import 'root';

.f-width{
    &-full{
        width: $porcent-100;
    }
    &-medium{
        width: $porcent-50;
    }
    &-small{
        width: $porcent-25;
    }
    &-extrasmall{
        width: $porcent-15
    }
    &-smallextrasmall{
        width: $porcent-5;
    }
}

.f-element-height{
    @for $i from 15 to 200 {
        @if $i%5==0
        &-pixel-#{$i}{
            height: #{$i}px;
        }
    }
}

.f-element-width{
    @for $i from 10 to 200 {
        @if $i%5==0
        &-pixel-#{$i}{
            height: #{$i}px;
        }
    }
}
